<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='dist/styles.css') }}" rel="stylesheet">
    <title>Home Page</title>

</head>

<body>
    <header>
        <h1>Welcome to LendLink</h1>

    </header>


    <button class="button-blue" href="login">Login</button>
    <button href="register">Register</button>



    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>