<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='dist/styles.css') }}" rel="stylesheet">
    <title>Home Page</title>

</head>

<body>
    <div class="base-layout gap-5">
        <h1>Welcome to LendLink</h1>

        <div class="flex flex-row gap-3">
            <a class='button-primary' href="login">Login</a>
            <a class='button-primary' href="register">Register</a>
        </div>



        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>