<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lend List</title>
    <link href="{{ url_for('static', filename='dist/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="base-layout gap-5">
        <h1 class="text">Login</h1>
        <form method="post" action="" class="form">
            {{ form.hidden_tag() }}
            <div class="form-field">
                <p>{{ form.email.label }}</p>
                <p>{{ form.email(size=32,class="input") }}</p>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-field">
                <p>{{ form.password.label }}</p>
                <p>{{ form.password(size=32,class="input") }}</p>
                {% for error in form.password.errors %}<br>
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <a class='text-custom-orange hover:underline' href="reset_password">Forgot Password</a>

            <div class="button-primary">
                <button type="submit" class="submit-btn">{{ form.submit.label.text }}</button>
                <div class="loader"></div>
            </div>

        </form>
        <div>
            Don't have an account?&nbsp;
            <a class='text-custom-orange hover:underline' href="register">Register</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </div>
</body>

</html>