<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link href="{{ url_for('static', filename='dist/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="base-layout gap-5">
        <h1>Password Reset</h1>
        <form method="POST" class="form">
            <div class="form-field">
                {{ form.hidden_tag() }}
                {{ form.email.label }}
                {{ form.email(size=25,class="input") }}
            </div>
            <div class="button-primary">
                <button type="submit" class="submit-btn">{{ form.submit.label.text }}</button>
                <div class="loader"></div>
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>