@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .button-primary {
        @apply border-2 border-custom-orange font-bold py-1 px-2 rounded-md hover:bg-custom-orange cursor-pointer shadow shadow-custom-orange hover:shadow-md hover:shadow-custom-orange;
    }

    .button-primary input[type="submit"]:hover,
    .button-primary button:hover {
        cursor: pointer;
    }

    .base-layout {
        @apply flex flex-col w-full h-full justify-center items-center p-4;
    }

    .form {
        @apply flex flex-col items-center gap-4;
    }

    .form-field {
        @apply flex flex-col gap-1;
    }

    .input {
        @apply bg-gray-700 rounded-md py-1 px-2;
    }
}


body {
    background-color: #212121;
    color: white;
    height: 100vh;    
}
    
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid #ddd;
    padding: 8px;

}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #ff5600,
    ;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-primary .loader {
    display: none;     
}

.button-primary.disabled .loader {
    display: block; 
}

.button-primary.disabled .submit-btn {
    display: none; 
}

.button-primary.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.exclamation-mark {
    color: red;
    margin-left: 5px;
    opacity: 1;
    transition: opacity 1.3s;
    font-size: 48px;
    font-weight: 900;
}

.alert {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-success {
    color: #25b346;
}

.alert-error {
    color: #c41426;
}

.alert-info {
    color: #0c5460;
}

.alert-warning {
    color: #ffbf00;
}